body
{
	background-image: url(backgrounds/concrete_wall.png);
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
	padding: 0 !important;
}
hr{
	color: white;
	background-color: white;
}
a
{
	color: #76d3bd;
	text-decoration: none;
}
a:hover
{
	color: whitesmoke;
	text-decoration: none;
}
.wrapper
{
	width: 100%;
}
.header
{
	width:100%;
	padding: 40px 0;
}
.logo
{
	position: relative;
	right: 50px;
	width: 450px;
	font-size: 58px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	text-shadow: #e2d1c3 0px 0px 5px;
}
.logo img{
	position: relative;
	left: 75px;
}
.nav
{ 
	width: 100%;
	padding: 10px 0;
	background: linear-gradient(90deg, #e2d1c3 0%, #fdfcfb 50%, #e2d1c3 100%);
	text-align: center;
	
	/*border-top: 1px solid #04dbc5;
	border-bottom: 1px solid #04dbc5;*/
}
.nav:hover {
	box-shadow: #e2d1c3 0px 0px 10px;
}
.content
{
	width: 1000px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	text-align: justify;
	font-size: 18px;

}
.footer
{
	background-color: #22222c;
	padding-left: 30px;
	padding-top: 30px;
	height: 70px;
}
.footer_text
{
	float: left;
	font-size: 16px;
	color: rgb(184, 184, 184);
	margin-top: 10px;
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}
ol a
{
	color: #868f96;
	text-decoration: none;
	display: block;
}
ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px solid #868f96;
}
ol > li:first-child
{
	border-left: 1px solid #868f96;
}

/*ol > li:hover
{
	background-color: #04dbb5;
}*/

ol > li:hover > a
{
	color: #d0b5cb;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color:#4b576a;
	position: relative;
	z-index: 100;
	border-top: 1px solid #3d485a;
}

ol > li > ul > li:hover
{
	background-color: #516075;
}

ol > li > ul > li:hover > a
{
	color: #76d3bd;
}

a.sociallink
{
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}
a.sociallink:hover
{
	text-decoration: none;
	text-align: center;
}

.socialicons
{
	color: whitesmoke;
	float: right;
	padding: 0px;
	font-size: 24px;

	position: relative;
	bottom: 15px;
	right: 5px;
}
.totop
{
	color: whitesmoke;
	background: linear-gradient(90deg, #868f96 0%, #596164 100%);
	text-align: center;
	font-size: 18px;
	width: 120px;
	height: 24px;
	border-radius: 15px;
	flex: show;
	position: relative;
	top: 10px;
	float: right;
}
.totop:hover
{
	background: linear-gradient(90deg, #96a0a7 0%, #707a7d 100%);
	color: #ebdce8;
}