* {
	scroll-behavior: smooth;
	overflow-x: none;
}

body {
	background-image: url(../img/concrete_wall.png);
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
	padding: 0 !important;
	min-width: 760px;
}

hr {
	color: white;
	background-color: white;
}

/* color links in article */
a {
	color: #e2d1c3;
	text-decoration: none;
	transition: all 0.5s;
}

a:hover {
	color: whitesmoke;
	text-decoration: none;
}

/* all content*/
.wrapper {
	width: 100%;
}

header {
	width:100%;
	padding: 40px 0;
}

.logo {
	position: relative;
	right: 50px;
	width: 450px;
	font-size: 58px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.logo::before {
	content: 'Podcast';
	position: absolute;
	z-index: -1;
	text-shadow: 0 0 30px #d1b49c, 0 0 30px #d1b49c, 0 0 150px #d1b49c;
	animation: neonAnim 2s alternate-reverse infinite;
}

@keyframes neonAnim {
	0% {
		opacity: 50%;
	}
	100%{
		opacity: 100%;
	}
}

.logo img {
	position: relative;
	left: 75px;
}

nav { 
	width: 100%;
	padding: 10px 0;
	background-color: #e2d1c3;
	text-align: center;
	box-shadow: #e2d1c3 0px 0px 10px;
}

ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a {
	position: relative;
	color: #6a605f;
	text-decoration: none;
	display: block;
}

ol > li {
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px solid #868f96;
}

ol:first-child {
	border-left: 1px solid #868f96;
}

main  {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	text-align: justify;
	font-size: 18px;
}

.banner {
	margin-right: calc(100% - 100px);
	margin-left: calc(100% - 100px);
}

.glassEffect {
	position: relative;
    width: 430px;
    height: auto;
    padding: 20px;
    margin-top: 50px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
    background: rgba( 185, 228, 255, 0.25 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}

.glassEffect::before {
	content: '';
	width: 100%;
    height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	opacity: 0%;
	transition: opacity 0.7s;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(226, 209, 195, 1);
	-moz-box-shadow: 0px 0px 20px 5px rgba(226, 209, 195, 1);
	box-shadow: 0px 0px 20px 5px rgba(226, 209, 195, 1);
	/*option 2*/
	/*-webkit-box-shadow: 0px 0px 5px 5px rgba(226, 209, 195, 1);
	-moz-box-shadow: 0px 0px 5px 5px rgba(226, 209, 195, 1);
	box-shadow: 0px 0px 5px 5px rgba(226, 209, 195, 1);*/
}

.glassEffect:hover::before{
    opacity: 90%;
}

.glassEffect h1 {
    text-shadow: white 0px 0px 2px;
}

.glassEffect span {
	color: #e2d1c3;
	text-shadow: #e2d1c3;
}
.glassEffect p.subtitle {
    color: #e2d1c3;
    font-size: 20px;
}

/* footer */
footer {
	background-color: #22222c;
	padding-left: 30px;
	padding-top: 30px;
	height: 70px;
	display: flex;
	position: relative;
	justify-content: space-between;
	min-width: 760px;
}

.footer_text {
	font-size: 16px;
	color: rgb(184, 184, 184);
	margin-top: 10px;
}

.sticky {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

/* contact */
.contact {
	position: relative;
	font-size: 16px;
	top: 6px;
	left: -60px;
}

/* social media */
.list-links {
	margin-right: 20px;
}

.list-links li{
	display: inline-block;
}

a.sociallink {
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}
a.sociallink:hover {
	text-decoration: none;
	text-align: center;
}

.socialicons {
	color: whitesmoke;
	padding: 0px;
	font-size: 24px;

	position: relative;
	bottom: 15px;
	right: 5px;
}
.totop {
	color: whitesmoke;
	background: linear-gradient(90deg, #868f96 0%, #596164 100%);
	text-align: center;
	font-size: 18px;
	width: 120px;
	height: 24px;
	border-radius: 15px;
	position: absolute;
	top: 40px;
	right: 150px;
}
.totop:hover {
	background: linear-gradient(90deg, #96a0a7 0%, #707a7d 100%);
	color: #ebdce8;
}
@media (max-width: 1000px) {
	.banner img {
		height: 190px;
		width: 760px;
	}

	.footer_text {
		width: 250px;
	}
}
@media all and (max-width: 500px){
	body{
		color:whitesmoke;
	}
}