::-webkit-scrollbar{
	width: 11px;
	height: 11px;
}
::-webkit-scrollbar-track{
	opacity: 0%;
	background: whitesmoke;
	border-radius: 100vw;
}
::-webkit-scrollbar-thumb{
	background: silver;
	border-radius: 100vw;
	border: solid 1px whitesmoke;
}
::-webkit-scrollbar-thumb:hover{
	background: rgb(168, 167, 177);
}
@supports (scrollbar-color: red blue){
	*{
		scrollbar-color: silver whitesmoke;
		scrollbar-width: 12px;
	}
}