

#calendar {
    text-align: center;
    display: grid;
    grid-template-areas: 
    "daysOfAWeek"
    "daysOfAMonth";
}

#daysOfAWeek {
    color: #d1b49c;
    letter-spacing: .2em;
    display: grid;
    grid-area: daysOfAWeek;
    grid-template-areas: 
    "mon  tue wed thu fri sat sun";
}

#daysOfAMonth {
    margin-top: 15px;
    display: grid;
    grid-area: daysOfAMonth;
    grid-template-areas: 
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
}

.day {
    margin: 5px;
    padding: 10px;
    border: white solid 1px;
}

#mon, #tue, #wed, #thu, #fri, #sat {
    border-right: gray solid 1px;
}